@import url('https://fonts.cdnfonts.com/css/inspiration');
@import url('https://fonts.googleapis.com/css?family=Inder');


body {
    margin: 0;
    padding: 0;
    background-image: url("../img/image_2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* HEADER */
header {
    background-color: #693E28;
    color: white; 
    padding: 20px; 
    text-align: center; 
    padding-left: 50px;
    height: 100px;
}

a {
    text-decoration: none;
}

#Titulo {
    width: 90px;
    margin-left: 2%;
    margin-right: 20%;
    vertical-align: middle;
    font-family: Inspiration;
}

#header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.linea {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

#search {
    float: right;
    width: 35%;
    height: 40px;
    border-radius: 20px;
    background-color: #fff; 
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-right: 5%; 
}

#search-icon {
    width: 30px;
    margin-right: 0px; 
}

#input-search {
    flex: 1; 
    border: none;
    outline: none;
    padding: 10px;
    font-family: poppins;
    font-size: medium;
}

#fondo-inicio {
    width: 100%;
    height: 600px;
    opacity: 80%;
}

#dest {
    font-family: Inspiration;
    font-size: 90px;
    margin-left: 5%;
}

.icon {
    width: 30px; 
    margin-right: 10px; 
    vertical-align: middle;
}

#login img,
#carrito img {
    width: 35px; 
    margin-right: 0px;
    vertical-align: middle;
    margin-top: 15px;
}

#search,
#login,
#carrito {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
/* HEADER */


/* FOOTER */
footer {
    background-color: #693E28;
    color: white; 
    padding: 20px; 
    text-align: center;
    margin-top: 100px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-left, #footer-right {
    display: flex;
    align-items: center;
}

#footer-left a, #footer-right p {
    margin-right: 20px;
}

#footer-center p {
    display: flex;
    align-items: center;
}

#footer-center a {
    margin-right: 5px; 
}
/* FOOTER */


#formulario {
    background-color: #F1E3DB; /* Color de fondo del formulario */
    padding: 00px;
    width: 30%; /* Ancho del formulario */
    height: 100%;
    margin: auto; /* Centrar el formulario horizontal y verticalmente */
    margin-top: 100px;
    border-radius: 10px;
    font-family: Inder;
}

/* Titulo del formulario */
#titulo-contacto {
    background-color: #081B1A; /* Color de fondo del título */
    color: white; /* Color del texto */
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px; /* Redondear esquina superior izquierda */
    border-top-right-radius: 10px; /* Redondear esquina superior derecha */
    margin-bottom: 20px;
    font-size: 35px;

}


textarea {
    display: block; /* Alinear los labels uno debajo del otro */
    margin-top: 10px; /* Espacio entre los labels */
    text-align: center; /* Centrar el texto del label */
    width: 80%; /* Ancho de los campos de entrada */
    margin: 0 auto; /* Centrar horizontalmente los campos de entrada */
    display: block;
}

.inputs {
    width: 80%; /* Ancho de los campos de entrada */
    height: 20px;
    margin: 0 auto; /* Centrar horizontalmente los campos de entrada */
    display: block;
}
.inputs,
textarea {
    width: 80%; /* Ancho de los campos de entrada */
    height: 40px; /* Altura de los campos de entrada */
    margin: 0px auto; /* Centrar horizontalmente los campos de entrada */
    display: block;
    border: none; /* Eliminar los bordes */
    padding: 0px; /* Añadir relleno */
    border-radius: 5px; /* Redondear los bordes */
    border: none;
    outline: none;
    padding-left: 10px;
}

#formulario input[type="submit"] {
    width: 50%; /* Hacer el botón del ancho completo */
    padding: 15px; /* Aumentar el padding para hacer el botón más grande */
    border-radius: 10px; /* Redondear todos los bordes */
    background-color: #103635; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar el borde */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-top: 15px;
    margin-bottom: 5.2%;
    margin-left: 25%;
    font-size: 55px;
    font-family: Inder;

}

#formulario input[type="submit"]:hover {
    background-color: #0c2928; /* Cambiar el color de fondo al pasar sobre el botón */
}

.input-container {
    position: relative;
}

.inputs-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.inputs {
    padding: 0px;
}

#usuario,
#contraseña {
    width: calc(80% - 40px); /* Ancho de los campos de entrada */
    height: 40px; /* Altura de los campos de entrada */
    margin: 25px auto; /* Centrar horizontalmente los campos de entrada */
    display: block;
    border: none; /* Eliminar los bordes */
    padding-left: 5px; /* Añadir relleno */
    border-radius: 5px; /* Redondear los bordes */
}
#pass-icon{
    margin-left: 5px;
}

/* Estilo para el texto dentro de los inputs */
#usuario::placeholder,
#contraseña::placeholder {
    color: #999; /* Color del texto */
}

/* Alinear el icono de usuario y el input correspondiente */
.inputs-icon:nth-child(odd) {
    float: left; /* Alinear a la izquierda */
}

/* Alinear el icono de contraseña y el input correspondiente */
.inputs-icon:nth-child(even) {
    float: left; /* Alinear a la izquierda */
}

/* Limpiar el float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#formulario p {
    text-align: center;
}

#formulario .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#formulario .social-icons img {

    margin: 0 20px; /* Espacio entre los iconos */
}

#f-icon{
    width: 80px;
}
#g-icon{
    width: 90px;
}
#x-icon{
    width: 90px;
}

#p1{
    margin-top: 0px;
    margin-bottom: 25px;
}
#p2{
    margin-top: 0px;
    margin-bottom: 25px;
}